.app {
    background-color: red;
    position: relative;
    width: 500px;
    height: 500px;
    overflow: hidden;


    .ball{
        width: 20px;
        height: 20px;
        background-color: green;
        border-radius: 50%;
        position: absolute;
    }
}